
@font-face{
    font-family: 'fonte-padrao';
    src: url('font/fonts/v4013/Raleway-v4013-Black') format("truetype");
}
.fonte-padrao{
    font-family: 'fonte-padrao';
}

body {
    margin: auto;
    width: 90%;
     border: 1px solid black;
}

img{
    max-width:100%;
}

nav {
    width: 100%;
    height: 200px;
    margin-bottom: 7%;
}

.container{
    width: 100%;
    margin:auto;
    max-width: 1360px;
}

#nav-contato {
    float: right;
    margin-top: 1%;
    overflow: hidden;

}

.img-contato {
    margin-top: 4%;
    margin-bottom: -2%;
}

.texto-contato {
    font-size: 100%;
}


#logo{
    height: 150px;
    width: 300px;
    margin-top: 2%;
}

a{
    text-decoration: none;
}

#nav-menu{
    position: relative;
    bottom: 15%;

    left: 30%;
    width: 70%;

}

.menu-link{
    font-size: 22px;
}

/*margem entre as opcoes de navegação*/
.apply-margin-left{
    margin: 0 0 0 8%;
}

#slide {
    width: 100%;
}

#main-image {
  margin: auto;
  width: 100%;
}

#img-main{
    width: 100%;
    height: auto;
    max-height: 500px;
}

#quem-somos {
    font-size: 20px;
    width: 44%;
    margin-left: 3%;
}

#noticias {
    width: 44%;
    margin-left: 9%;
    margin-right: 3%;
    border: 1px solid black;

}

#bloco-alinhado {
    display: flex;
    height: 590px;
    margin-top: 2%;
    margin-bottom: 5%;
}

#vantagens {
    width: 90%;
    margin: auto;
    margin-bottom: 4%;
}

.vantagem {
    display: flex;
    width: 100%;

}

.caixa-colocacao {
    width: 5.3%;

}

.colocacao {
    width: 100%;
    text-align: center;

}

.texto-vantagem {
    width: 89.5%;

}

.caixa-info {

    display: flex;
    width: 100%;
}

.img-vantagem {
    margin-top: 1.2%;
    margin-right: 10px;:
}

#passos{
    display: flex;
    height: 450px;
}

.img-passo {
    width: 65%;
    height:  40%;
    min-width: 175px;
}

.caixa-passo {
    width: 21%;
    text-align: center;
}

.texto-passo {
    font-size: 18px;
}

#separador {

}

#comece-agora {
    margin-top: 150px;
    margin-left: 2%;
    margin-right: 6%;
}

#contate-nos {
    border:  1px solid;

}

.email-nome {
    width: 20%;
}

#margem-esq {
    margin-left: 2%;

}

.email-cidade {
    margin-bottom: 1%;
}

#cidades{
    margin-bottom: 3%;
}

#assunto{
    width: 15%;
    margin-bottom: 1%;
}

#mensagem{
    width: 50%;
    padding-bottom: 10%;
}

#btn-enviar{
    width: 7%;
    margin-left: 43.2%;
    margin-top: 1.5%;
}

.tel-cel{
    width: 20%;


}

#tel-input{
    margin-bottom: 1%;
}

#contato-solarsantos{

}